      #tit {
        text-align: center;
        background-color: #D3F75C;
      }
      p {
        font-size: 30px;
        text-align: left;
      }
      #pdw {
        text-align: left;
      }
      body {
        background-color: #EBF9A6;
      }
      h2 {
        text-decoration: underline;
        text-align: left;
      }
      #citas {
        font-family: cursive;
      }
      #yo {
        font-size: 17px;
        text-align: center;
      }
